{% extends 'VendaBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Em breve esta área estará pronta.</h1>
        <br style="clear:both;"/>
    </div>
{% endblock %}
