{% extends 'ComprasBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>EbNfe edit</h1>

        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('compras_nfe') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
