{% extends 'ComprasBundle::base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>EbRegra creation</h1>

        {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('compras_regra') }}">
                    Back to the list
                </a>
            </li>
        </ul>

    </div>
{% endblock %}
