{% extends 'ComprasBundle::base.html.twig' %}

{% block title %}Elever-Página Configuracoes{% endblock %}

{% block body %}
    <div class="container">
    <h1>EbPerfil edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('configuracao_perfil') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
{% endblock %}
