<div class="menu_color" id="footer">
    <div class="container">
        <img src="{{ asset("/bundles/principal/images/elever_rodape.png") }}" style="position: absolute; margin-top: -30px;">
        <p class="muted credit text-center">@2015 elever é marca registrada da empresa Leads Ltda.</p>
    </div>
</div>