{% extends 'ComprasBundle::base.html.twig' %}

{% block body %}
    <div class="container">

        <ul>
            <li><a href="/compras/regra">Regra</a></li>
            <li><a href="/compras/subsegmento">Tabela de Preço</a></li>
            <li><a href="/compras/pedido">Pedido</a></li>
            <li><a href="/compras/nfe">Nota Fiscal</a></li>
            <li><a href="/compras/nfe/item">Item de nota fiscal</a></li>
            <li><a href="/compras/notacredito">Nota Credito</a></li>
        </ul>
    </div>
{% endblock %}

